<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" action="width-device-width, initial-scale-1.0">
        <title>DNDShop</title>
        <link href="~/css/style.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    </head>
    <body>
        <div class="login">
            <a href="#"><i class='bx bxs-user'></i>Login</a>
        </div>
        <header>
        <!--Logo + thanh navbar-->
        <a href="#"><img src="~/img/logo.png" class="logo" alt="" /></a>
            <div>
                <ul id="navbar">
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="icon">
                <a class="bg-icon" href="#"><i class='bx bxs-heart'></i></a></li>
                <a class="bg-icon" href="#"><i class='bx bx-cart-alt'></i></a></li>
                <span>Tổng tiền: 100,000 Đ</span></li>
        </div>
        </header>
        @RenderBody()
        <footer>
            <section id="newsleller" class="section-p1 section-m1">
                <div class="newstext">
                    <h4>Đăng ký nhân thông tin</h4>
                    <p>Nhận thông tin cập nhật qua emal về các sản phẩm mới của chúng tôi <span>các ưu đãi đặp biệt</span> </p>
                </div>
                <div class="form">
                    <input type="text" placeholder="Email" name="" id="" />
                    <button class="normal">Đăng ký</button>
                </div>
            </section>
        </footer>
    </body>
    </html>