<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" action="width-device-width, initial-scale-1.0">
        <title>DNDShop</title>
        <link href="~/css/style.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    </head>
    <body>
        <div class="login">
            <a href="#"><i class='bx bxs-user'></i>Login</a>
        </div>
        <header>
        <!--Logo + thanh navbar-->
        <a href="#"><img src="~/img/logo.png" class="logo" alt="" /></a>
            <div>
                <ul id="navbar">
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="icon">
                <a class="bg-icon" href="#"><i class='bx bxs-heart'></i></a></li>
                <a class="bg-icon" href="#"><i class='bx bx-cart-alt'></i></a></li>
                <span>Tổng tiền: 100,000 Đ</span></li>
        </div>
        </header>
        @RenderBody()
        <footer id="section-p1">
            <div class="col">
                <img class="logo-footer" src="~/img/logo.png" />
                <h4>Thông tin liên hệ</h4>
                <p><strong>Địa chỉ:</strong>Vietnam</p>
                <p><strong>SĐT:</strong>0908833232</p>
                <p><strong>Giơ:</strong>8.00 - 18.00.Từ thứ đến chủ nhật</p>
                <div class="follow">
                    <h4>Theo chúng tôi</h4>
                    <div class="icon-follow">
                        <i class='bx bxl-facebook-circle'></i>
                        <i class='bx bxl-youtube'></i>
                        <i class='bx bxl-instagram-alt'></i>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>Liên hệ</h4>
                <a href="#">Vê chúng tôi</a>
                <a href="#">Thông tin giao hang</a>
                <a href="#">Chính sách bảo mật</a>
                <a href="#">Thông tin giao hàng</a>
                <a href="#">Điêu khoản & Điêu kiện</a>
                <a href="#">Liên hệ với chúng tôi</a>
            </div>
        </footer>
    </body>
    </html>