@{
    ViewData["Title"] = "Home Page";
}
<!--Home section-->
<section id="hero">
    <h4>Mua hàng trong ưu đãi</h4>
    <h2>Ưu đãi siêu giá trị</h2>
    <h1>Trên tất cả các sản phẩm</h1>
    <p>Tiết kiệm nhiêu hôn với phiếu giảm giá & giảm giá tới 70%</p>
    <button>Mua ngay</button>
</section>
<!--Product-->
<section id="product1" class="section-p1">
    <h2>Sản phẩm nổi bật</h2>
    <p>Bộ sư tập hiện đai</p>
    <div class="pro-container">
        <div class="pro">
            <img src="~/img/ao-nam.jpg" alt="" />
            <div class="des">
                <span>Skyfall</span>
                <h5>Áo nam</h5>
                <div class="star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <h4>1,000,000 Đ</h4>
            </div>
            <a href="#"><i class='bx bx-cart-add cart'></i></a>
        </div>
        <div class="pro">
            <img src="~/img/ao-nam.jpg" alt="" />
            <div class="des">
                <span>Skyfall</span>
                <h5>Áo nam</h5>
                <div class="star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <h4>1,000,000 Đ</h4>
            </div>
            <a href="#"><i class='bx bx-cart-add cart'></i></a>
        </div>
        <div class="pro">
            <img src="~/img/ao-nam.jpg" alt="" />
            <div class="des">
                <span>Skyfall</span>
                <h5>Áo nam</h5>
                <div class="star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <h4>1,000,000 Đ</h4>
            </div>
            <a href="#"><i class='bx bx-cart-add cart'></i></a>
        </div>
        <div class="pro">
            <img src="~/img/ao-nam.jpg" alt="" />
            <div class="des">
                <span>Skyfall</span>
                <h5>Áo nam</h5>
                <div class="star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <h4>1,000,000 Đ</h4>
            </div>
            <a href="#"><i class='bx bx-cart-add cart'></i></a>
        </div>
        <div class="pro">
            <img src="~/img/ao-nam.jpg" alt="" />
            <div class="des">
                <span>Skyfall</span>
                <h5>Áo nam</h5>
                <div class="star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <h4>1,000,000 Đ</h4>
            </div>
            <a href="#"><i class='bx bx-cart-add cart'></i></a>
        </div>
        <div class="pro">
            <img src="~/img/ao-nam.jpg" alt="" />
            <div class="des">
                <span>Skyfall</span>
                <h5>Áo nam</h5>
                <div class="star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <h4>1,000,000 Đ</h4>
            </div>
            <a href="#"><i class='bx bx-cart-add cart'></i></a>
        </div>
        <div class="pro">
            <img src="~/img/ao-nam.jpg" alt="" />
            <div class="des">
                <span>Skyfall</span>
                <h5>Áo nam</h5>
                <div class="star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <h4>1,000,000 Đ</h4>
            </div>
            <a href="#"><i class='bx bx-cart-add cart'></i></a>
        </div>
        <div class="pro">
            <img src="~/img/ao-nam.jpg" alt="" />
            <div class="des">
                <span>Skyfall</span>
                <h5>Áo nam</h5>
                <div class="star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <h4>1,000,000 Đ</h4>
            </div>
            <a href="#"><i class='bx bx-cart-add cart'></i></a>
        </div>
    </div>
</section>
<!--Banner small-->
<section id="banner" class="section-p1">
    <h4>Sale</h4>
     <h2>Lên đến <span> Giảm 70%</span>Tất sản phẩm </h2>
     <button class="normal">Tìn hiểu thêm</button>
</section>
<!--New product-->
<section id="product1" class="section-p1">
    <h2>Hàng mới về</h2>
    <div class="pro-container">
        <div class="pro">
            <img src="~/img/tre-em.jpg" alt="" />
            <div class="des">
                <span>Skyfall</span>
                <h5>Áo trẻ em</h5>
                <div class="star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <h4>1,000,000 Đ</h4>
            </div>
            <a href="#"><i class='bx bx-cart-add cart'></i></a>
        </div>
        <div class="pro">
            <img src="~/img/ao-nam.jpg" alt="" />
            <div class="des">
                <span>Skyfall</span>
                <h5>Áo nam</h5>
                <div class="star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <h4>1,000,000 Đ</h4>
            </div>
            <a href="#"><i class='bx bx-cart-add cart'></i></a>
        </div>
        <div class="pro">
            <img src="~/img/ao-nam.jpg" alt="" />
            <div class="des">
                <span>Skyfall</span>
                <h5>Áo nam</h5>
                <div class="star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <h4>1,000,000 Đ</h4>
            </div>
            <a href="#"><i class='bx bx-cart-add cart'></i></a>
        </div>
        <div class="pro">
            <img src="~/img/ao-nam.jpg" alt="" />
            <div class="des">
                <span>Skyfall</span>
                <h5>Áo nam</h5>
                <div class="star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <h4>1,000,000 Đ</h4>
            </div>
            <a href="#"><i class='bx bx-cart-add cart'></i></a>
        </div>
        <div class="pro">
            <img src="~/img/ao-nam.jpg" alt="" />
            <div class="des">
                <span>Skyfall</span>
                <h5>Áo nam</h5>
                <div class="star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <h4>1,000,000 Đ</h4>
            </div>
            <a href="#"><i class='bx bx-cart-add cart'></i></a>
        </div>
        <div class="pro">
            <img src="~/img/ao-nam.jpg" alt="" />
            <div class="des">
                <span>Skyfall</span>
                <h5>Áo nam</h5>
                <div class="star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <h4>1,000,000 Đ</h4>
            </div>
            <a href="#"><i class='bx bx-cart-add cart'></i></a>
        </div>
        <div class="pro">
            <img src="~/img/ao-nam.jpg" alt="" />
            <div class="des">
                <span>Skyfall</span>
                <h5>Áo nam</h5>
                <div class="star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <h4>1,000,000 Đ</h4>
            </div>
            <a href="#"><i class='bx bx-cart-add cart'></i></a>
        </div>
        <div class="pro">
            <img src="~/img/ao-nam.jpg" alt="" />
            <div class="des">
                <span>Skyfall</span>
                <h5>Áo nam</h5>
                <div class="star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <h4>1,000,000 Đ</h4>
            </div>
            <a href="#"><i class='bx bx-cart-add cart'></i></a>
        </div>
    </div>
</section>
<!--Newsletter section-->
<section id="newsleller" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Đăng ký nhân thông tin</h4>
        <p>Nhận thông tin cập nhật qua emal về các sản phẩm mới của chúng tôi <span>các ưu đãi đặp biệt</span> </p>
    </div>
    <div class="form">
        <input type="text" placeholder="Email" name="" id="" />
        <button class="normal">Đăng ký</button>
    </div>
</section>